<template name="navmenu">
    <div class="subnavbar">
        <div class="subnavbar-inner">
            <div class="container">
                <ul class="mainnav">
                    <li {{#if ifCurrentPath '/'}}class="active"{{/if}}>
                        <a href="{{pathFor 'dashboard'}}">
                            <i class="icon-dashboard"></i><span>Dashboard</span>
                        </a>
                    </li>
                    <li {{#if ifCurrentPath '/reports'}}class="active"{{/if}}>
                        <a href="{{pathFor 'reports'}}">
                            <i class="icon-list-alt"></i><span>Reports</span>
                        </a>
                    </li>
                    <li {{#if ifCurrentPath '/profile'}}class="active"{{/if}}>
                        <a href="{{pathFor 'profile'}}">
                            <i class="icon-wrench"></i><span>Profile</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- /container -->
        </div>
        <!-- /subnavbar-inner -->
    </div>
<!-- /subnavbar -->
</template>
