<template name="tasksTable">
    <div class="widget widget-table action-table">
        <input type="text"
               id="inp-new-task"
               name="new-task"
               placeholder="Add new task..."
               style="width: 98%;">
        <div class="widget-header"> <i class="icon-th-list"></i>
            <h3>My Tasks</h3>
        </div>
        <!-- /widget-header -->
        <div class="widget-content">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Completed</th>
                        <th>Current</th>
                        <th class="td-actions">Done / Delete</th>
                        <th class="td-actions">Work</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each tasks}}
                        {{> taskItem}}
                    {{/each}}
                </tbody>
            </table>
        </div>
        <!-- /widget-content -->
    </div>
</template>

<template name="taskItem">
    <tr class="{{#if completed}}success{{else}}{{#if linked}}info{{/if}}{{/if}}">
        <td style="{{#if completed}}color: red; text-decoration: line-through;{{/if}}">
            {{#if editing}}
                <input id="task-input" type="text" value="{{description}}" class="txt-edit-task">
            {{else}}
                <span class="task-description"
                      data-toggle="tooltip"
                      data-placement="right"
                      data-original-title="{{#if completed}}Done!{{else}}Double click to edit{{/if}}">
                      {{description}}
                </span>
            {{/if}}
        </td>
        <td>{{completed_pomodoros}}</td>
        <td>{{time}} - {{state}}</td>
        <td class="td-actions">
            <a href="javascript:;" id="btn-complete" class="btn btn-small {{#if completed}}btn-success{{/if}}">
                <i class="btn-icon-only {{#if completed}}icon-remove{{else}}icon-ok{{/if}}"> </i>
            </a>
            <a href="javascript:;" id="btn-delete" class="btn btn-danger btn-small">
                <i class="btn-icon-only icon-minus"> </i>
            </a>
        </td>
        <td class="td-actions">
            <a href="javascript:;" id="btn-link" class="btn {{#if linked}}btn-primary{{else}}btn-success{{/if}} btn-small">
                <i class="btn-icon-only
                   {{#if linked}}icon-pause{{else}}icon-play{{/if}}"> </i>
            </a>
        </td>
    </tr>
</template>
