<template name="dashboard">
    <h1>Dashboard</h1>
    <br>
    <div class="row-fluid">
        <div class="span8">
            {{> tasksTable}}
        </div>
        <div class="span3">
            <div class="widget">
                <div class="widget-header"> <i class="icon-bookmark"></i>
                    <h3>Primitive Timer</h3>
                </div>
                <div class="widget-content">
                    <div class="timer" style="text-align: center;">
                        <a href="#myModal" role="button" id="btn-pomodoro" class="btn btn-primary btn-large" data-toggle="modal">
                            Let's get something done!
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{> timerModal }}
</template>

<template name="timerModal">
    <!-- Modal -->
    <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">{{#isolate}}{{ timerState }}{{/isolate}}</h3>
        </div>
        <div class="modal-body" style="text-align: center;">
            <h3>{{#if linkedAny}}{{ linkedTask }}{{else}}General Pomodoro{{/if}}</h3>
            {{> timerContent }}
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
    </div>
</template>

<template name="timerContent">
    <div class="timer" style="text-align: center;">
        <h1 style="font-size: 70px; line-height: 105px; font-weight: bold;">{{ timerValue }}</h1>
        <div class="progress progress-striped active">
            <div class="bar" style="width: {{ timerPercent }}%;"></div>
        </div>
        <button id="btn-start" class="btn btn-primary btn-start">Start</button>
        <button id="btn-stop" class="btn btn-warning">Stop</button>
        <button id="btn-reset" class="btn btn-danger">Reset</button>
    </div>
</template>
